---
import Layout from '../layouts/Layout.astro';
import DesignStudioBanner from '../components/design-studio-banner.astro';
import MadeleyDesignStudioBanner from '../components/madeleydesignstudio-banner.astro';
import '../styles/global.css';

---

	<Layout>
		<div class="flex h-screen">
			<MadeleyDesignStudioBanner />
			<!-- <DesignStudioBanner /> -->
			<svg class="absolute -bottom-[1000px] -right-[450px] w-[1400px] h-[1400px]">
				<circle 
					cx="625" 
					cy="625" 
					r="623" 
					class="fill-none stroke-white/20 stroke-2" 
					stroke-dasharray="30 20"
				/>
			</svg>
			<svg class="absolute -top-[500px] -right-[450px] w-[1400px] h-[1400px] ">
				<circle 
					cx="625" 
					cy="625" 
					r="623" 
					class="fill-none stroke-white/20 stroke-2" 
					stroke-dasharray="30 20"
				/>
			</svg>

		</div>
	</Layout>


