---
import MadeleyDesignStudioBanner from "../components/madeleydesignstudio-banner.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="flex h-full w-full">
    <MadeleyDesignStudioBanner />
    <div class="w-full h-full p-24">
      <div
        class="w-full h-full border-2 border-white rounded-2xl p-8 bg-stone-300/30 z-[100]"
      >
        <p class="text-white">Hello</p>
      </div>
    </div>
    <svg class="fixed -bottom-[1000px] -right-[450px] w-[1400px] h-[1400px]">
      <circle
        cx="625"
        cy="625"
        r="623"
        class="fill-none stroke-white/20 stroke-2"
        stroke-dasharray="30 20"></circle>
    </svg>

    <svg class="fixed -top-[500px] -right-[450px] w-[1400px] h-[1400px]">
      <circle
        cx="625"
        cy="625"
        r="623"
        class="fill-none stroke-white/20 stroke-2"
        stroke-dasharray="30 20"></circle>
    </svg>

    <div
      class="fixed -bottom-0 left-0 w-full h-3/4 bg-gradient-to-t from-stone-900 to-transparent z-50"
    >
    </div>
  </div>
</Layout>
