---
import MadeleyDesignStudioBanner from "../components/madeleydesignstudio-banner.astro";
import Content from "../components/content.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Image from "../components/image.astro";
import SocialIcons from "@/components/social-icons.astro";
import ProjectsTab from "@/components/projects-tab.astro";
---

<Layout>
  <div class="flex h-full w-full">
    <Image />
    <MadeleyDesignStudioBanner />
    <Content />
    <SocialIcons />
    <ProjectsTab />
    <div
      class="fixed -bottom-0 left-0 h-full w-full bg-gradient-to-r from-stone-950/90 to-transparent -z-[1]"
    >
    </div>
    <div class="fixed -bottom-0 left-0 h-full w-full bg-stone-950/50 -z-[1]">
    </div>
  </div>
</Layout>

<!-- <svg class="fixed -bottom-[1000px] -right-[450px] w-[1400px] h-[1400px]">
      <circle
        cx="625"
        cy="625"
        r="623"
        class="fill-none stroke-white/20 stroke-2"
        stroke-dasharray="30 20"></circle>
    </svg>

    <svg class="fixed -top-[500px] -right-[450px] w-[1400px] h-[1400px]">
      <circle
        cx="625"
        cy="625"
        r="623"
        class="fill-none stroke-white/20 stroke-2"
        stroke-dasharray="30 20"></circle>
    </svg> -->
