@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-boska: var(--font-boska);
  --font-bricolage: var(--font-bricolage);
}

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    @apply bg-zinc-900;
  }
}
