---
// Import the font
import '@fontsource/jaro';
---

<div class=" w-fit bg-green-400">
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Design</h1>
  <h1 class="text-5xl font-bold text-white text-center uppercase font-jaro">Studio</h1>
</div>
